<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>validaLogin</servlet-name>
        <servlet-class>ldn.validaLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validaRegistroServ</servlet-name>
        <servlet-class>ldn.validaRegistroServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validaModificar</servlet-name>
        <servlet-class>ldn.validaModificar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregaMsj</servlet-name>
        <servlet-class>ldn.agregaMsj</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>activaUsr</servlet-name>
        <servlet-class>ldn.activaUsr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificaAdmin</servlet-name>
        <servlet-class>ldn.modificaAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>validaLogin</servlet-name>
        <url-pattern>/validaLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validaRegistroServ</servlet-name>
        <url-pattern>/validaRegistroServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validaModificar</servlet-name>
        <url-pattern>/validaModificar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregaMsj</servlet-name>
        <url-pattern>/agregaMsj</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>activaUsr</servlet-name>
        <url-pattern>/activaUsr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificaAdmin</servlet-name>
        <url-pattern>/modificaAdmin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
